.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zzz {
    padding: 5%
}

.zzz.table {
    padding: 1%
}
.field.label {
    color: grey
}
