.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zzz {
    padding: 5%
}

table {
    padding: 1%
}
label {
    color: grey
}
