.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zzz {
    padding: 5%
}

.ui.table[class*="single line"] {
    padding: 1%
}
.ui.form .field>label {
    color: grey
}
