body {
    font-family: sans-serif;
   justify-content: center;
   

}
formulario {
display: flex;
justify-content: center;
}

form {
    font-size: 16px;
    background: black;
    
    margin: 150px;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}
label {
    color: white;
}
form h1 {
    margin: 10px;
    color: white;
    text-shadow: 3px 3px 3px grey;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: grey;
    box-shadow: 3px 2px 5px rosybrown;
    color: black;
    font-weight: bold;
}


