

.lll{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em;
    flex-wrap: wrap;
    
}

.filmes{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 0.5em;
 pointer-events: visible;
  width: 400px;
  height: 400px;
}


.nome {
    background-color: #24262b;
    color: #ffffff;
}

.imgg{
    width: 400px;
    height: 400px;

}



