

.lll{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em;
    flex-wrap: wrap;
    
}

.filmes{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 0.5em;
 pointer-events: visible;
  width: 400px;
  height: 400px;
}


.nome {
    color: #ffffff;
}

.imgg{
    width: 220px;
    height: 300px;

}
.listafilme {
    display: flex;
    flex-wrap: wrap;
}
h1 {
    margin-left: 50px;
}

.lll.ul {
        width: 290px;
    display: flex;
    flex-direction: column;
}
