.Homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SlideCarousel {
    padding: 0.5rem;
}

/* .ImageCarousel {
    width: 1050px;
    height: 597.3px;
} */

.Spotlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 10em;
    padding: 1em;

}

.Spot {
    display: flex;
    flex-direction: column;

}

h5 {
    color: black;
}

a {
    color: black;
}

@media only screen and (max-device-width: 480px) {
    .NavMenu {
        flex-direction: column;
        overflow-x: hidden;
    }
 }
@media only screen and (max-device-width: 768px){
    .NavMenu {
        flex-direction: column;
        overflow-x: hidden;
    }
}