.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideCarousel {
    width: 75%;
    margin-top: 4em;
    margin-bottom: 2em;
}

.spotLight {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 3%;
    padding: 1em;
    display: flex;
    position: relative;
    width: 70%;
   
}

.col-sm {
    display: flex;
    padding: 2em;
    object-fit: contain;   
   
}

h5 {
    color: #bbbbbb;
    padding-top: 0.5em;
}

.cardTxt a {
    color: #bbbbbb;
    font-size: 13px;
    padding-bottom: 0.5em;
}
.card {
    display: inline-block;
    flex-direction: row;
    width: 40%;
    height: 40%;

}

@media only screen and (max-device-width: 480px) {
    .spotLight {
        flex-direction: column;
        overflow-x: hidden;
    }
    .slideCarousel { 
        margin: 0;
        padding-top: 2rem;
    }
 }

@media only screen and (max-device-width: 768px){
    .spot {
        flex-direction: column;
        overflow-x: hidden;
    }
}
