@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.Header {
    color: #ffffff;
    background-color: #24262b;
}

.NavMenu {
    margin: auto;
    width: 100vw;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

.NavLogo {
    justify-content: center;
    align-items: center;
}

.Btn {
    margin: 0.5em;
    outline-style: none;
    justify-content: space-around;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: capitalize;
    color: #bbbbbb;
    padding: 0 10px;

}

.Btn:after {
    content: "";
    position: absolute;
    background-color: #e91e63;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.Btn a:hover {
    color: #ffffff;
}

.Btn:hover:after {
    width: 100%;
    color: #ffffff;
}

body {
    background-color: #24262b;
    min-height: 100vh;
    overflow-x: hidden;
}


@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }

    .menu {
        text-align: center;
    }

}
