*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


header{
    background-image:url('../src/imagens/fm.jpg') ;
    background-size: 75%;
    display: flex;
    flex-wrap: wrap;
    height:19em;
    
}

.w50{
    width:50%;
    padding:0 10px;
}



.menu
{
 margin: 1em;
 text-align: right;}


.menu a{
   margin: 0.3em;
   font-family: 'Rubik Bubbles';
   font-size: 1.5em;
   color: white;
   text-decoration: none;
   background-color: gray;
   border: 1px solid black;
   border-radius:20% 15% 10% 8% ;
   width:60%;

}

@media screen and (max-width: 768px){
    .header{
        text-align: center;
    }
    .menu{
        text-align: center;
    }
    
}