*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


header{
    background-image:url('../src/imagens/fm.jpg') ;
    background-size: 75%;
    display: flex;
    flex-wrap: wrap;
    height:19em;
    
}

.w50{
    width:50%;
    padding:0 10px;
}



.menu
{
 margin: 1em;
 text-align: right;}



.nm{
    margin:0.7em;
    font-family: 'Rubik Bubbles';
}

@media screen and (max-width: 768px){
    .header{
        text-align: center;
    }
    .menu{
        text-align: center;
    }
    
}


